<header class="bg-splash-gray px3 py3 border-bottom border-light-gray">
    <div class="container">
        <div class="clearfix">
            <a href="https://www.faithworkcamps.com/files/">
                <h1 class="page-title mt0 mb1">
						{{#each breadcrumbs~}}
 						{{~/each~}}
						<a class="breadcrumb-item" href="{{relative album.url}}">{{album.title}}</a>
					</h1>
            </a>
        </div>
        <h4 class="page-description body-font gray mt1 regular">Photography is the story I fail to put into words. - Destin Sparks</h4>
    </div>
</header>
<!--
    Nested albums, if any
  -->
<main class="container block p3">
    {{#each album.albums~}}
    <div class="col sm-col-6 px2 mt2 mb2">
        <a href="{{relative url}}" class="block button button-transparent button-narrow border border-light-gray px1 py1">
            <img src="{{relative previews.0.urls.large}}" class="valign-middle lazyload" />
            <div class="px1 pt1 center">
                <span class="mt0 mb0 h6 header-font">{{title}}</span>
            </div>
        </a>
    </div>
    {{~/each}}
    <!--
    All photos and videos
  -->
    <ul id="media" class="clearfix mxn2 py1 photocenter">
        {{#each album.files~}} {{> thumbnail}} {{~/each}}
    </ul>
</main>